/* animation */

@keyframes patterMove{
    from{transform: translateX(0);}
    to{transform: translateX(-50%)}
}

@keyframes tick2 {
    0% {opacity: 1;}
    5% {opacity: 0.5;}
    10% {opacity: 0;}
    15% {opacity: 0.5;}
    20% {opacity: 1;}
    25% {opacity: 1;}
    30% {opacity: 0.5;}
    35% {opacity: 0;}
    40% {opacity: 0.5;}
    50% {opacity: 1;}
    100% {opacity: 1;}
}