/* {mother elements} start */
.color-primary{
    color: #ece4dd5e
}
.color-secound{
    color: #a9793a
}
.color-thirde{
    color: #e0c3aa
}

.color-white{
    color: #fff
}
.color-black{
    color: #262626
}

.font-10{
    font-size: 10px;
}

.font-12{
    font-size: 12px;
}

.font-14{
    font-size: 14px;
}

.font-16{
    font-size: 16px;
}

.font-18{
    font-size: 18px;
}

.font-20{
    font-size: 20px;
}

.font-22{
    font-size: 22px;
}

.font-24{
    font-size: 24px;
}

.font-rem-3 {
    font-size: 3rem;
}

small {
    font-size: 8px;
}

/* scrollbar  */
::-webkit-scrollbar {
  width: 10px;
}


::scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  background: rgb(0, 0, 0);
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #a9793a; 

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ab916f; 
}

body{
    background: #ece4dd5e !important;
    margin: 0;
    padding:0;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'titleFont';
}
p,span{
    font-family: 'mainFont';
    line-height: 1.5;
}
section {
    opacity: 0;
}


/* loader */
#loader{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:#3a3a3a;
    z-index: 3;
    text-align: center; 
}
#texture {
    position: absolute;
    width: 50%;
    top: 50%;
    left: 50%;
    color: #a9793a;
    font-size: 60px;
    font-family: 'highFont';
    transform: translate(-50%,-50%);
}

/* patter name */
.pattern {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:100%;
    overflow-x: hidden;
    display: flex;
    z-index: 1;
}
.pattern p{
    color: #ab916f;
    font-size: 155px;
    animation: patterMove linear 50s infinite ;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.blur-effect {
    backdrop-filter: blur(5px);
    background: #ffffff00 !important;
}
/* {extention element} Start */
.custome-color{
    color: #a9793a !important;
    border-color: #a9793a !important;
    transition: 0.2s;
}
.custome-color:hover{
    background: #a9793a !important;
    color: #fff !important;
    transition: 0.2s;

}
.decore-photo{
    background: url(/home/omidima/Downloads/desk2.png) no-repeat right fixed;
    background-size: contain;
}

/*  bootstrap edit */

.col-md-7.align-self-center {
  text-align: center;
}
.col-md-7.align-self-center.text-sm-start {
  text-align: center;
}
.d-flex.justify-content-sm-center.justify-content-md-start {
  justify-content: center;
}


@media (max-width: 766px){
    .decore-photo{
        background-position: center;
    }
}
.flat-card {
    text-align: center;
    padding: 10px;
    box-shadow: 0px 0px 10px 0px #26262620;
    transition: 0.2s;
    min-height: 300px;
    display: grid;
    align-items: center;
}
.flat-card-icon {
    text-align: center;
    padding: 10px;
    box-shadow: 0px 0px 10px 0px #26262620;
    transition: 0.2s;
    display: grid;
    align-items: center;
}
.flat-card-icon .iconbox img {
    width: 80px;
}
.flat-card-icon d-flex {
    border-bottom: 2px solid #e0c3aa;
}

.iconbox {
    text-align: center;
}
.iconbox span {
    background: #fff;
    width: 10px !important;
    height: 20px;
    left: 37%;
    z-index: 1;
    transform: rotate(41deg);
    position: absolute;
    top: 10px;
    border-radius: 10px;
}

.iconbox img {
    filter: invert(55%) sepia(9%) saturate(2634%) hue-rotate(354deg) brightness(88%) contrast(89%);
    padding: 10px;
    border-radius: 50%;
    border: 3px solid;
    position: relative;
}

#section-3 .flat-card:hover{
    box-shadow: 0px 0px 10px 0px #26262640;
    transition: 0.2s;
    transform: translateZ(10px);
}


@media (max-width: 768px){
    .intro-image{
        max-height: 400px;
    }
    .font-rem-3 {
        font-size: 2rem;
    }
    .about-text {
        display: grid;
        text-align: center;
    }
}

.container {
    width: 80% !important;
}
